.tasks {
  margin: 1.6rem 0;
  border-radius: 0.5rem;

  box-shadow: var(--card-shadow);
}

@media (min-width: 60rem) {
  .tasks {
    margin-top: 2.4rem;
  }
}

.tasks__length {
  color: var(--gray);

  font: var(--body-p);
  letter-spacing: -0.017rem;
}

.tasks__clear {
  padding: 0;
  border: none;

  color: var(--gray);

  font: var(--body-p);
  letter-spacing: var(--ls-s);

  background-color: transparent;
}

.tasks__clear:hover {
  cursor: pointer;

  color: var(--dark-purple);
}
