:root {
  font-family: "Josefin Sans", sans-serif;
  font-size: 62.5%;

  --light-gray: #f9f9f9; /* body bg */
  --border-gray: #e3e4f1; /* task check border */
  --gray: #9495a5;
  --very-ligth-gray: #d1d2da; /* task checked text */
  --white: #ffffff;
  --dark-purple: #494c6b; /* task text */
  --light-gray-transparent: #c2c3d680;
  --blue: #3a7cfd;

  --gradiente-check: linear-gradient(90deg, #55ddff 0%, #c058f3 100%);
  --card-shadow: 0 3.5rem 5rem -1.5rem var(--light-gray-transparent);

  --body: 400 1.2rem "Josefin Sans", sans-serif; /* task text */
  --body-p: 400 1.2rem "Josefin Sans", sans-serif; /* task text */
  --body-l: 700 1.4rem "Josefin Sans", sans-serif;
  --body-r: 400 1.4rem "Josefin Sans", sans-serif;
  --bg-image: url("./assets/bg-mobile-light.jpg");

  --ls-s: -0.017rem;
  --ls-m: -0.019rem;
}

@media (min-width: 6rem) {
  :root {
    --ls-s: -0.025rem;
    --body: 400 1.8rem "Josefin Sans", sans-serif; /* task text */
    --bg-image: url("./assets/bg-desktop-light.jpg");
  }
}

body {
  margin: 0;
  padding: 0 2.4rem;

  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--light-gray);

  font-size: 1.8rem;
}
